/* style.css */
*,
::before,
::after {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}
.title-page {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.288);
    width: 540px;
    margin:auto;
}
body {
    margin:50px;
    background-color: rgba(241, 211, 41, 0.555);
}
.tab {
    list-style-type:none;
    display: block;
    text-align: center;

}
button{
    margin-right: 10px;
    font-size:35px;
    color:rgb(23, 105, 3)
}
h2, p {
    text-align: center;
}
ol, .centerer{
    margin-left:36em;
    margin-right:30em;
}
.images {
    display: block;
    margin: auto;
}